.VNav {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "nav header"
    "nav main";
  background-color: #f0f0f0;
}

.vertical-background {
  grid-area: nav;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #4d5762;
  height: 100%;
}

.horizontal-background {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  grid-area: header;
  z-index: 3;
}

.horizontal {
  display: block;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

li.vertical {
  display: block;
  color: white;
  padding: 30px 16px;
  text-decoration: none;
  text-align: center;
}

.nav {
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

li a:active {
  background-color: #555;
  color: white;
}