@import url("https://fonts.googleapis.com/css?family=Roboto");

.signup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "dhl-half form-half";
}

.dhl-half {
  grid-area: dhl-half;
  background: url("../images/DHL logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.form-half {
  grid-area: form-half;
  background: white;
  width: 100%;
  height: 100%;
}

.form-side {
  display: grid;
  grid-template-rows: 250px 1fr;
  grid-template-areas:
    "welcome-msg"
    "form-input";
  height: 100%;
}
.welcome-msg {
  grid-area: welcome-msg;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 120px;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}
.form-input {
  grid-area: form-input;

  width: 100%;
  height: 100%;
}

.form-input2 {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "fields"
    "footer";
  width: 100%;
  height: 100%;
}

.signup-form {
  grid-area: fields;
}

.signup-footer {
  grid-area: footer;
  padding: 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  width: 100%;
  padding: 8px 150px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border: solid 1px #eeeeee;
  border-radius: 4px;
}

input[type="password"] {
  width: 100%;
  padding: 8px 138px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border: solid 1px #eeeeee;
  border-radius: 4px;
}

label {
  font-family: "Roboto", sans-serif;
  color: #a3a3a3;
}

.signup-button {
  background-color: #00cc72;
  padding: 8px 230px;
  font-size: 20px;
  color: white;
  border: none;
  font-family: "Roboto";
  border-radius: 4px;
}

.fullname {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "firstName lastName";
  grid-gap: 10px;
}

.firstName {
  grid-area: firstName;
}

.lastName {
  grid-area: lastName;
}
