* {
  box-sizing: border-box;
}

.dropzone-pc {
  width: 100%;
  height: 80%;
  border: 2px dashed #ccc;
  color: #a3a3a3;
  background-color:#F0F2F9;
  display:grid;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  grid-template-areas: 
    "upload-icon"
    "drag-text"
    "manual-upload"
    "uploaded-text"
}

.dropzone-pc.dragover-pc {
  border-color: #000;
  background-color: #88aaff;
  color: #000000;
}

.upload-icon-pc{
  grid-area:upload-icon;
}
.uploadtext-pc {
  grid-area: uploaded-text;
  color: blue;
  }

.align-right-pc {
  display: flex;
  align-items: right;
  justify-content: right;
}

.upload-btn-pc{
  background: #fecb2f;
  padding: 15px 32px;
  text-align: center;
  border:none;
  font-size:14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius:5px;
}

.upload-btn-pc:hover{
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius:5px;

}

.drag-text-pc{
  grid-area: drag-text;
}

.manual-upload-pc{
  grid-area: manual-upload;
  
}

.center-pc{
  display:flex;
  justify-content: center;
  align-content: center;
}

.inputfile-pc{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile-pc + .labelinput-pc {
  background: #4d5762;
  padding: 15px 32px;
  text-align: center;
  border:none;
  font-size:14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius:5px;
}

.inputfile-pc:focus + .labelinput-pc,
.inputfile-pc + .labelinput-pc:hover {
  background-color: white;
  
}

.grey {
    position: fixed;
    width:calc(100vw - (100vw - 100%));
    height:100vh;
    background-color: rgba(127, 140, 141,0.8);
    top:0;
    left:0;
    z-index: 19;
    display: none;
}

.spinner {
    z-index: 19;
    width: 200px;
    height: 80px;
    text-align: center;
    font-size: 40px;
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .spinner > div {
    background-color: #fecb2f;
    height: 100%;
    width: 20px;
    margin-left:5px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }